sudo: false
language: ruby

rvm:
- 2.4.2
- 2.3.5
- 2.2
- 2.1
- 2.0
- jruby-9.1.14.0
- ruby-head
- jruby-head

matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: 2.0
#   fast_finish: true
